.body {
    margin-left: 10%;
    margin-top: 5%;
}

.profile-button {
    margin-left: 35%;
}

.home-button {
    margin-left: 20%;
}

.logout-button {
    margin-left: 60%;
}

.message {
    color: blue;
}

.info {
    color: green;
}

.wrong-message {
    color: red;
}
