<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Notes registration</title>

    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="body">
    <div class="info">
        <h1>Reset Password</h1>
    </div>
    {% if user_email %}
        <div class="message">
            Check your inbox for the next steps. If you don't receive an email,
            and it's not in your spam folder this could mean you signed up with a different address.
        </div>
    {% else %}
        <div class="message">
            Something went wrong please try again.
        </div>
    {% endif %}
</body>
</html>