<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Notes login</title>
	<meta name="description" content="Free Web Notes. Developed by Waldis Jr." />
	<meta name="keywords" content="web, notes, web-notes, waldis, jr, Waldis, Jr, waldis_jr, Grynovetskyy, Vladyslav"/>
	<meta name="author" content="Waldis Jr"/>

	<link rel="shortcut icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="body">
    <div class="logo-name">
        <h1>Web Notes</h1>
    </div>

    <div class="login-button">
        <p>If you are already in our system :</p>
        <button name="login" type="button" onclick="location.href='/login'">Login</button>
    </div>

    <div class="register-button">
        <p>If you want to create a new free account :</p>
        <button name="login" type="button" onclick="location.href='/registration'">Register</button>
    </div>

    <div class="autor">
        <h5>Free service. Developed by
        <a href="https://github.com/waldis-jr-dev/" target="_blank">Waldis Jr</a></h5>
    </div>
</body>
</html>