<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Notes</title>
	<meta name="description" content="Free Web Notes. From Waldis Jr." />
	<meta name="keywords" content="web, notes, web-notes, waldis, jr, Waldis, Jr, waldis_jr, Grynovetskyy, Vladyslav"/>
	<meta name="author" content="Waldis Jr"/>

	<link rel="shortcut icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body class="body">
    {% if data == 'incorrect password'%}
        <h1>Welcome back !</h1>
        <h5>Incorrect email or password.<br>Please try again !</h5>
    {% elif data == 'blocked'%}
        <h1>Welcome back !</h1>
        <h5>To many tries !<br>Please retry in 1 minute.</h5>

    {% else %}
        <h1>Welcome back !</h1>
    {% endif %}
    <form action="/login" method="post" name="login" id="login" onsubmit="">
                    <label for="email">Email:</label><br><br>
                    <input required type="email" maxlength="80" size="25" id="email" name="email"><br><br>
                    <label for="password">Password:</label><br><br>
                    <input required type="password" maxlength="80" size="25" id="password" name="password">
                    <h5><a href="/forgot_password">Forgot password ?</a></h5><br><br>
                    <label for="time">Select period of time you want to be logged in <br>
                        (you can logout at any time) :</label><br>
                     <p><select name="time_period" id="time" required>
                      <option>1 hour</option>
                      <option selected>1 day</option>
                      <option>3 days</option>
                      <option>1 week</option>
                     </select></p><br>
                    <input type="hidden" id="return_to" name=return_to
                           value="{% if return_to %}{{return_to}}{% else %}/home{% endif %}">

                    <input type="submit" value="Login"><br><br>
                     <h5><a href="/registration">Not our user yet ? Register !</a></h5>
    </form>
</body>
</html>

