<form action="formdata" method="post" name="form1">
 <p><b>Введите текст:</b></p>
 <p><textarea></textarea></p>
 <p><input type="submit" value="Отправить"></p>
</form>



<form action="formdata" method="post" name="form1">
 <p><b>Введите текст:</b></p>
 <p><textarea name="text1" rows="3" cols="10" maxlength="35"></textarea></p>
 <p><input type="submit" value="Отправить"></p>
</form>

<form action="formdata" method="post" name="form1">
 <p><textarea name="text1" placeholder="Введите текст"></textarea></p>
 <p><input type="submit" value="Отправить"></p>
</form>


<form action="formdata" method="post" name="form1">
 <p><b>Введите текст:</b></p>
 <p><textarea name="text1" required></textarea></p>
 <p><input type="submit" value="Отправить"></p>
</form>

