<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Notes Login</title>
	<meta name="description" content="Free Web Notes. From Waldis Jr." />
	<meta name="keywords" content="web, notes, web-notes, waldis, jr, Waldis, Jr, waldis_jr, Grynovetskyy, Vladyslav"/>
	<meta name="author" content="Waldis Jr"/>

	<link rel="shortcut icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body class="body">
    <div class="home-button">
        <button name="home" type="button" onclick="location.href='/home'">Back to main page</button>
    </div>
    <br><br>
    <div class="info">
        <h3>
            {{user.email}} profile
        </h3>

    </div>
    <div class="info">
        <h4>Your status : <b>{{user_role}}</b></h4>
    </div>
    <div class="password-form">
        <form action="/update_password" method="post" name="password-form" id="password-form">
            <div class="user_role">
                 <input type="hidden" id="user_role" name="user_role"
                        value="{{user_role}}">
            </div>

            <div class="info">
                <h4>Update password</h4>
            </div>
            {% if message == 'wrong_password' %}
                <div class="message">
                    Incorrect password !
                </div>
            {% elif message == 'password_updated' %}
                <div class="message">
                    Password was successfully updated.
                </div>
            {% endif %}
            <p><div class="password">
                <label for="password">Curent password:</label><br>
                <input required type="password" name="password" id="password" placeholder="Enter the password">
                <i class="far fa-eye" id="togglePassword"></i>
            </div></p>
            <p><div class="password">
                <label for="password">New password:</label><br>
                <input required type="password" name="new_password" id="new_password" placeholder="Enter the password">
                <i class="far fa-eye" id="newtogglePassword"></i>
            </div></p>
            <p><div class="password">
                <label for="password">Confirm new password:</label><br>
                <input required type="password" name="confirmed_new_password" id="confirmed_new_password" placeholder="Enter the password">
            </div></p>

            <div class="submit">
                <p><input type="submit" value="Update password"></p>
            </div>
        </form>
    <script src="../static/js/login_form.js"></script>
</body>
</html>
